.individual-container {
    box-shadow: inset 0 0 0.5px 1px hsla(0, 0%,
            100%, 0.075),
        /* shadow ring 👇 */
        0 0 0 1px hsla(0, 0%, 0%, 0.05),
        /* multiple soft shadows 👇 */
        0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
        0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
        0 3.5px 6px hsla(0, 0%, 0%, 0.09);

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 20px 10px;
}



.individual-container p {
    text-align: left;
    color: #213547;
    font-weight: 400;
    padding-top: 8px;
}

.btn-visited {
    padding: 10px 15px;
    border: 1px solid rgb(192, 186, 186);
    border-radius: 2px;
    margin-top: 10px;
}

.individual-container hr {
    border: none;
    background-color: rgb(168, 162, 162);
    width: 100%;
    height: 1px;
    margin-top: 20px;
}

.individual-container img {
    height: 200px;
}
@media (prefers-color-scheme: dark) {
    .individual-container {
        background-color: #2c2c2e;
        border: 1px solid #3a3a3c;

    }

    .individual-container p {
        color: rgba(255, 255, 255, 0.87) !important;
    }
    .btn-visited {
       color: rgba(255, 255, 255, 0.87) !important;
    }
}
@media (max-width:600px) {

    .individual-container img {
        height: auto;
    }
}

@media (min-width:601px) and (max-width:1050px) {

    .individual-container img {
        height: 160px;
    }
}