#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
}

.header-container{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.header-des{
  max-width: 800px;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}
.header-title{
margin: 0px;
text-align: center;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}